$background-color: #fbf9f9;
$page-width: 1200px;
body {
  background-color: $background-color;
}

.warp {
  margin: auto;
  width: 1200px;
}

.header {
  .top {
    background-color: #ffffff;
    box-shadow: rgba(35, 35, 35, 0.2) 1px 1px 19px;
    .top-bar {
      $font: 12px/40px "Microsoft YaHei" ;
      height: 40px;
      font: $font;
      color: #9b9ea3;
      //padding-top: ;
      //vertical-align: center;
      .right-top {
        .about{
          a{
            font:$font;
          }
        }
        .login{
          margin-left :20px;
        }
        .register {
          margin-left: 28px;
          a {
            font: $font;
          }
        }
        .service {
          margin-left: 21px;
          a {
            font: $font;
          }
        }
      }
    }
  }
  $logo-height: 108px;
  .logo-bar {
    height: $logo-height;
    .logo {
      height: $logo-height;
      img {
        height: $logo-height;
      }
    }
    .search {
      line-height: $logo-height;
      .search-input {
        border: 2px solid #dcdcdc;
        border-radius: 6px;
        width: 320px;
        height: 40px;
      }
      .search-submit {
        margin-left: -50px;
        height: 25px;
        width: 25px;
        border: none;
        margin-top: -5px;
        background: url("../images/index/search.png") no-repeat 100% 100%;
      }
    }
  }
  .nav-bar {
    height: 60px;
    background: linear-gradient(#1a76b5, #347ab9, #1a76b5);
    .menu {
      margin-top: 11px;
    }
    a {
      cursor: pointer;
    }
    .current, .currenthover {
      background-color: #0c5ea6;
      border-radius: 10px 10px 0px 0px;
    }
    .currenthover:after {
      content: "";
      width: 2000px;
      height: 10px;
      top: 208px;
      z-index: 998;
      left: 0;
      position: absolute;
    }
    .currenthover:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #0c5ea6;
      position: absolute;
      text-align: center;
      top: 208px;
      z-index: 999;
      //margin: 47px 0px 0 30px;
      //vertical-align: middle;
    }
    .menu > li {
      border-right: 1px solid #2d73b3;
    }
    .menu li {
      float: left;
      font: 22px/49px "Microsoft YaHei";
      padding: 0 30px;

      a {
        color: white;
        text-align: center;
      }
      ul {
        //
        //background-color: white;
        //top: 218px;
        //border-radius: 5px;
        //position: absolute;
        //z-index: 999;
        padding-left: 0;
        display: none;
        z-index: 999;
        position: absolute;
        top: 218px;
        width: 300px;
        background: #307FA8;
        margin-left: -30px;

        li {
          a:hover {
            color: #fff;
          }
          a {
            color: #E1E2E2;
          }
          width: 100%;
          ul {
            padding-left: 0;
            display: none;
            z-index: 999;
            position: absolute;
            left: 330px;
            width: 380px;
            background: #307FA8;
            li {
              float: left;

            }
          }
          a {
            font-size: 20px;
          }
        }
      }
    }
  }
  #myCarousel {
    width: 100%;
  }

}

.footer {
  height: 350px;
  box-shadow: rgba(131, 135, 142, 0.18) 0px -5px 10px;
  margin-top: 100px;
  .logo {
    margin-left: 28px;
    margin-top: 58px;
  }
  font: 24px "Microsoft YaHei";

  .links {
    margin-top: 45px;
    width: 666px;
    margin-left: 86px;
    .speedlink {
      position: relative;
      top: -99px;
      li {
        margin-left: 25px;
        float: left;
        a {
          color: #a6a6a6;
        }
      }
    }

    .cloudlink, .info {
      margin-top: 28px;
    }
    .info {

    }
    .cloudlink ul li{
      margin-right:30px;
      float:left;
    }
  }

  .qrcode {
    margin-left: 50px;
    margin-top: 58px;
    width: 168px;
    heigth: 158px;
    line-height: 80px;
    text-align: center;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .btbar {
    margin-top: 10px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #b8b8b8;
    font-size: 13px;
  }
  .udline {
    height: 1px;
    border: 1px solid #eae5e5;
    margin-top: 35px;
  }
}

.main {
  .interaction {
    margin-top: 77px;
    background: url("../images/index/iaback.png");
    height: 868px;
    border: 1px solid white;
    text-align: center;
    .ia-head {
      margin: auto;
      margin-top: 55px;
      h3 {
        height: 66px;
        display: inline-block;
        font: 36px "Myriad Pro";
        font-weight: bold;
        border-bottom: 1px black solid;
      }
    }
    .ia-body {

      .ia-item {
        margin-top: 55px;
        width: 562px;
        height: 277px;
        float: left;
        background-color: white;
        overflow: hidden;
        .img {
          width: 230px;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            overflow: hidden;
          }

        }
        .artcles {
          margin-top: 28px;
          //margin-left: 25px;
          margin-left: 25px;

          h5 {
            width: 100px;
            font: 24px "Microsoft YaHei";
          }
          ul {
            margin-top: 40px;
            font: 20px "Microsoft YaHei";
            li {
              line-height: 39px;
              text-align: left;
              border-bottom: 1px dotted #ccc;
            }
          }
        }
      }
      .ia-item:nth-of-type(even) {
        margin-left: 76px;
      }
    }
  }
}

.block-two {
  //padding-bottom: 10px;
  background-size: 100% 100%;
  .block-head {
    padding-top: 30px;
    height: 85px;
  }
}

.tabpage {
  display: none;
}

.tabpage.active {
  display: block;
}

.block-head {
  height: 50px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: #4d4a4b;
}

.block-head .english {
  font-size: 14px;
}

.block-two {
  .orange-line {
    width: 288px;
    border-bottom: 4px solid #fca500;
    display: block;
    margin: auto;
  }
  .orange-line:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fca500;
    position: absolute;
    margin-top: 3px;
    margin-left: 145px;
  }

}

.block-head .line {
  width: 288px;
  height: 15px;
  border-bottom: 4px solid #fca500;
  display: inline-block;
}

.block-head .line:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fca500;
  position: absolute;
  margin-top: 15px;
}

.block-head .block-title {
  display: inline-block;
  margin-left: 30px;
  height: 35px;
  line-height: 35px;
  font-size: 22px;
  font-family: "微软雅黑", Tahoma, Geneva;
}

.block-head .fb {
  margin: 0 5px;

  height: 35px;
  line-height: 35px;
  font-size: 22px;
  text-align: center;
  display: inline-block;
}

.block-head .fb:hover {
  font-weight: bold;
  color: #0862A4;
}

.block-head .right, .block-head .left {
  font-size: 30px;
  font-weight: bold;
}

.block-head .wrapper {
  position: relative;
}

.block-head .wrapper .more {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 68px;
  line-height: 68px;
  color: #4d4a4b;
  font-weight: 600;
}

.block-two .block-body {
  margin-bottom: 30px;
}

.business-nav {
  margin: 40px 0;
  font-size: 14px;
  height: 380px;
  background-color: #2B3B4B;
}

.business-nav li {
  position: relative;
  float: left;
  width: 20%;
  height: 380px;
  text-align: center;
  cursor: pointer;
}

.business-nav li span {
  margin-left: 90px;
  width: 40px;
  height: 60px;
  border-bottom: 4px solid #fff;
  display: block;
}

.business-nav li.current span, .business-nav l.fixPlate li spani:hover span {
  border-bottom: 4px solid #fff;
}

.business-nav li p {
  margin-top: 50px;
  font-size: 20px;
  color: #fff;
}

.business-nav li img {
  margin-top: 130px;
}

.business-nav .pb1 {
  background: url(../images/index/cateicon1.jpg) no-repeat center;
  background-size: 140% 100%;
}

.business-nav .pb2 {
  margin-top: 15px;
  background: url(../images/index/cateicon2.jpg) no-repeat center;
  background-size: 100% 100%;
  z-index: 50;
}

.business-nav .pb3 {
  margin-top: 30px;
  background: url(../images/index/cateicon3.jpg) no-repeat center;
  background-size: 100% 100%;
  z-index: 100;
}

.business-nav .pb4 {
  margin-top: 15px;
  background: url(../images/index/cateicon4.jpg) no-repeat left;
  background-size: 140% 100%;
  z-index: 50;
}

.business-nav .pb5 {
  background: url(../images/index/cateicon5.png) no-repeat center;
  background-size: 100% 100%;
}

.business-nav .pImg {
  padding-top: 111px;
  width: 220px;
  height: 170px;
}

$backgroundpostiony: 90px;
.business-nav .pb1 .pImg {
  background: url(../images/index/cateicon1.png) no-repeat center $backgroundpostiony;
}

.business-nav .pb2 .pImg {
  background: url(../images/index/cateicon2.png) no-repeat center $backgroundpostiony;
}

.business-nav .pb3 .pImg {
  background: url(../images/index/cateicon3.png) no-repeat center $backgroundpostiony;
}

.business-nav .pb4 .pImg {
  background: url(../images/index/cateicon4.png) no-repeat center $backgroundpostiony;
}

.business-nav .pb5 .pImg {
  background: url(../images/index/cateicon5.png) no-repeat center $backgroundpostiony;
}

.business-nav .pb1:hover .pImg, .business-nav li.pb1.current .pImg {
  background: url(../images/index/cateicon1.png) no-repeat center $backgroundpostiony;
}

.business-nav .pb2:hover .pImg, .business-nav li.pb2.current .pImg {
  background: url(../images/index/cateicon2.png) no-repeat center $backgroundpostiony;
}

.business-nav .pb3:hover .pImg, .business-nav li.pb3.current .pImg {
  background: url(../images/index/cateicon3.png) no-repeat center $backgroundpostiony;
}

.business-nav .pb4:hover .pImg, .business-nav li.pb4.current .pImg {
  background: url(../images/index/cateicon4.png) no-repeat center $backgroundpostiony;
}

.business-nav .pb5:hover .pImg, .business-nav li.pb5.current .pImg {
  background: url(../images/index/cateicon5.png) no-repeat center $backgroundpostiony;
}

.business-nav .line1 {
  display: none;
}

.business-nav .p1 {
  width: 100%;
  height: 100%;
  background: url("../images/index/category1.png");
  background-size: 100% 100%;
}

.business-nav .p2 {
  width: 100%;
  height: 100%;
  background: url("../images/index/category2.png");
  background-size: 100% 100%;
}

.business-nav .p3 {
  width: 100%;
  height: 100%;
  background: url("../images/index/category3.png") no-repeat;
  background-size: 100% 100%;
}

.business-nav .p4 {
  width: 100%;
  height: 100%;
  background: url("../images/index/category4.png");
  background-size: 100% 100%;
}

.business-nav .p5 {
  width: 100%;
  height: 100%;
  background: url("../images/index/category5.png");
  background-size: 100% 100%;
}

.business-box {
  margin-top: 66px;
  box-shadow: rgba(0, 0, 0, 0.29) 0px 0px 15px;
}

.business-bar {
  height: 14px;
  background-color: #1d3582;
  border-radius: 8px 8px 0 0;

}

.business-bar div {
  float: left;
  width: 20%;
  border: 1px solid transparent;
}

.businessselect:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #1d3582;
  position: absolute;
  margin-left: 110px;
  margin-top: -20px;
  text-align: center;
}

.business-nav .ph {
  width: 100%;
  height: 100%;
}

.business-nav .pb:hover {
  transform: scale(1.03);
}

.sideNav {
  height: 380px;
  float: left;
  width: 205px;
  padding: 10px;
  background-size: 100% 100%;
}

.sideNav ul {
  height: 100%;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
}

#nav div, #nav2 div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  text-align: center;
  line-height: 100px;
  font-size: 36px;
  color: #fff
}

.sideNav ul li {
  border-bottom: 1px solid #f3f3f3;
  cursor: pointer;
  height: 33%;
}

.sideNav ul li:last-child {
  border: none;
}

.sideNav ul li .line {
  height: 81px;
  border: 1px solid transparent;
  transition: all .3s ease;
}

.sideNav ul.thul li .line {
  //margin: 17px auto;
}

.sideNav ul {
  box-shadow: rgba(0, 0, 0, .2) 0 0 8px;
}

.sideNav ul.thu2 li .line {
  margin: 47px auto;
}

.sideNav ul li {
  font: 22px "Microsoft YaHei";
}

.sideNav ul li.current, .sideNav ul li:hover {
  background-color: #173270;
  color: #fff;

}

.sideNav ul li i {
  display: inline-block;
  width: 100%;
  height: 50px;
}

.sideNav ul li p {
  text-align: center;
}

.sideCon {
  margin-left: 205px;
  padding-left: 15px;
  height: 380px;
}

.sideCon .menuLink {
  height: 30px;
  line-height: 30px;
  color: #0A2339;
}

.sideCon .menuLink a {
  margin-right: 30px;
  padding-left: 20px;
  font-size: 15px;
}

.sideCon .menuLink a:hover {
  color: #2EBEEF;
}

.tabpanel .imgList li {
  position: relative;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  width: 205px;
  height: 160px;
  border: 1px solid #ccc;
}

.tabpanel .imgList li .imgWrap {
  width: 100%;
  height: 158px;
  text-align: center;
}

.tabpanel .imgList li:hover {
  border: 1px solid #0FAAE0;
}

.tabpanel .imgList li .imgWrap img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  max-height: 100%;
}

.tabpanel .imgList li .imgTitle {
  position: absolute;
  margin-top: -25px;
  width: 100%;
  text-align: center;
  height: 25px;
  line-height: 25px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.tabpanel .imgList li .imgTitle a {
  margin-right: 5px;
  font-size: 14px;
  color: #fff;
}

.tabpanel ul.policy li {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px dashed #ccc;
}

.tabpanel ul.policy li:first-child {
  border-top: 1px dashed #ccc;
}

.tabpanel ul.policy li:hover {
  background: #F3F9FB;
}

.tabpanel ul.policy li .level {
  color: #000;
}

.tabpanel ul.policy li .p-title {
  margin-left: 10px;
  font-size: 15px;
  width: 670px;
  display: inline-block;
}

.tabpanel ul.policy li .p-title a {
  color: #3077B9;
}

.tabpanel ul.policy li .p-title a:hover {
  color: #FF072E;
  text-decoration: underline;
}

.block-three {
  background: url(../images/index/blackBg.png) no-repeat 0 0;
  background-size: 100% 100%;
  a {
    width: 100%;
  }
  img {
    width: 100%;
  }
}

.block-three .block-head {
  margin-bottom: 17px;
}

.block-three .block-body {
  height: 304px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.service-nav {
  font-size: 14px;
}

.service-nav li {
  float: left;
  margin-top: 103px;
  margin-right: 50px;
  width: 140px;
  text-align: center;
  cursor: pointer;
}

.service-nav li:last-child {
  margin-right: 0;
  text-align: center;
}

.service-nav li i {
  display: inline-block;
  height: 134px;
  width: 134px;
  transition: all .3s ease;
  border-radius: 62px;
}

.block-four {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url(../images/index/hdBg.png) no-repeat center;
  background-size: 100% 100%;
}

.block-four .block-head {
  margin-bottom: 17px;
}

.block-four .block-body {
  margin-bottom: 20px;
  margin-top: 40px;
  height: 305px;
}

#slider {
  width: 1100px;
  height: 305px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slider {
  position: absolute;
  top: 0;
  height: 305px;
  width: 485px;
  background: rgba(0, 0, 0, 0.5);
}

.slider .bgslide {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.slider .current {
  background: none;
}

.slider img {
  height: 100%;
}

.slide1 {
  left: 0;
}

.slide2 {
  left: 205px;
}

.slide3 {
  left: 410px;
}

.slide4 {
  left: 615px;
}

#slider .slideTitle {
  position: absolute;
  z-index: 100;
  bottom: 20px;
  left: 20px;
  padding: 0 10px;
  width: 102px;
  height: 50px;
  line-height: 47px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-size: 100% 100%;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 0 4px #000;
  background: rgba(0, 0, 0, 0.4);
}

#slider .slideList {
  position: absolute;
  top: 0;
  left: 205px;
  width: 305px;
  height: 100%;
  color: #ddd;
  background: url(../images/index/sideBg.png);
  background-size: 100% 100%;
}

#slider .slideList span {
  margin-left: 30px;
  font-size: 15px;
  margin-top: 20px;
  height: 70px;
  line-height: 70px;
  color: #fff;
}

#slider .slideList ul {
  width: 260px;
  padding-left: 20px;
}

#slider .slideList ul li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dotted #ccc;
  color: #fff;
}

#slider .slideList ul li a {
  color: #fff;
  cursor: pointer;
}

.c-content {
  background: #EDF2F5;
}

.c-content .c-left {
  padding-bottom: 50px;
  width: 800px;
  border-right: 1px solid #ccc;
}

.c-content .c-left .intro1, .c-content .c-left .intro2 {
  margin-top: 30px;
}

.c-content .c-left .intro-img {
  padding-top: 95px;
  height: 165px;
  width: 764px;
}

.c-left .intro-title {
  padding: 10px 40px;
  bottom: 0;
  height: 70px;
  width: 100%;
  font-size: 18px;
  color: #D2D2D2;
  background: rgba(0, 0, 0, 0.4);
}

.c-left .intro-title span {
  margin-right: 10px;
}

.c-left .intro-title span:nth-child(1) {
  font-weight: 600;
}

.intro-info {
  padding: 30px;
  width: 764px;
  height: auto;
  line-height: 28px;
  color: #333;
  background: #fff;
}

.intro-info p, .intro-info b {
  text-indent: 2em;
  letter-spacing: 1px;
}

.intro1 .img1 {
  background: url(../images/index/intro1.png) no-repeat center;
}

.intro2 .img2 {
  background: url(../images/index/intro2.png) no-repeat center;
}

.c-right .link-bg {
  margin-top: 30px;
  width: 290px;
  height: 310px;
  background: #318BB7;
}

.c-right .link-bg .link-img {
  width: 290px;
  height: 250px;
  background: url(../images/index/contact.png) no-repeat center;
}

.c-right .link-info {
  margin-top: -20px;
  width: 100%;
  height: 100px;
  z-index: 10;
  background: rgba(32, 118, 159, 0.5);
}

.link-info p {
  margin-top: 28px;
  padding-left: 100px;
  line-height: 20px;
  font-size: 20px;
  display: inline-block;
  color: #fff;
  background: url(../images/index/phone1.png) no-repeat 40px center;
}

.link-info p .linkus {
  font-size: 14px;
}

.sideCon .tabpanel .left {
  width: 500px;
  height: 100%;
  float: left;
  margin-left: 20px;
}

.sideCon .tabpanel .left li {
  position: relative;
  margin-bottom: 3px;
  width: 100%;
  height: 125px;
}

.sideCon .tabpanel .left li img {
  width: 100%;
  height: 125px;
}

.sideCon .tabpanel .left li .sysDiv {
  position: absolute;
  padding-top: 30px;
  padding-left: 20px;
  width: 100%;
  height: 100%;
  top: 0;
  color: #fff;
  background: url(../images/coomonService/imgBg1.png) no-repeat left;
}

.sideCon .tabpanel .left li .sysDiv:hover {
  background: url(../images/coomonService/imgBg.png) no-repeat left;
}

.sideCon .tabpanel .left li .sysDiv .ch {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}

.sideCon .tabpanel .left li .sysDiv .en {
  font-size: 12px;
}

.sideCon .tabpanel .left li .sysDiv a {
  position: absolute;
  bottom: 15px;
  margin-top: 30px;
  color: #fff;
}

.sideCon .tabpanel .right {
  width: 280px;
  height: 390px;
  float: right;
  margin-right: 20px;
}

.sideCon .tabpanel .right .energyBd {
  position: relative;
  width: 280px;
  height: 330px;
  background: url(../images/index/sysBg.jpg) no-repeat center;
}

.sideCon .tabpanel .right .cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  background: rgba(34, 78, 107, 0.7);
}

.sideCon .tabpanel .right .cover h3 {
  font-weight: bold;
}

.sideCon .tabpanel .right .cover .e {
  font-size: 15px;
  font-weight: bold;
}

.sideCon .tabpanel .right .loginBtn {
  margin-top: 10px;
}

.sideCon .tabpanel .right .loginBtn button {
  width: 100%;
  height: 40px;
  font-size: 14px;
  background: #207CBB;
  border: none;
  overflow: hidden;
  color: #fff;
}

.sideCon .tabpanel .right .loginBtn button:hover {
  background: #22AEF2;
}

.sideCon .tabpanel .right .tip {
  margin-top: 80px;
  width: 100%;
  height: 100px;
  background: url(../images/coomonService/t1.png) no-repeat center;
}

.loader span {
  color: #555;
}

.loader {
  margin-top: 10px;
  padding-left: 0px;
  margin-left:-10px;
}

.loader1{
  margin-right:-10px;
}

.core {
  margin: 0 98px;
  span{
    font-size:22px;
  }
}

@-webkit-keyframes line-scale {
  0% {
    color: #555;
  }
  50% {
    color: #FCA500;
    font-weight: bold;
  }
  100% {
    color: #555;
  }
}

@keyframes line-scale {
  0% {
    color: #fca500;
  }
  50% {
    color: #787777;
    font-weight: bold;
  }
  100% {
    color: #fca500;
  }
}

.line-scale > span:nth-child(1) {
  -webkit-animation: line-scale 1s .2s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale 1s .1s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.line-scale > span:nth-child(2) {
  -webkit-animation: line-scale 1s .4s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale 1s .2s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.line-scale > span:nth-child(3) {
  -webkit-animation: line-scale 1s .6s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale 1s .3s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.line-scale > span:nth-child(4) {
  -webkit-animation: line-scale 1s .8s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale 1s .4s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.line-scale > span:nth-child(5) {
  -webkit-animation: line-scale 1s 1s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale 1s .5s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.line-scale > span:nth-child(6) {
  -webkit-animation: line-scale 1s 1.2s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale 1s .6s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.line-scale > span:nth-child(7) {
  -webkit-animation: line-scale 1s 1.4s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale 1s .7s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.line-scale > span:nth-child(8) {
  -webkit-animation: line-scale 1s 1.6s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale 1s .8s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.loader1 span {
  color: #555;
}

@-webkit-keyframes line-scale1 {
  0% {
    color: #fca500;
  }
  50% {
    color: #787777;
    font-weight: bold;
  }
  100% {
    color: #fca500;
  }
}

@keyframes line-scale1 {
  0% {
    color: #fca500;
  }
  50% {
    color: #787777;
    font-weight: bold;
  }
  100% {
    color: #fca500;
  }
}

.line-scale1 > span:nth-child(1) {
  -webkit-animation: line-scale1 1s 1.6s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale1 1s .8s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.line-scale1 > span:nth-child(2) {
  -webkit-animation: line-scale1 1s 1.4s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale1 1s .7s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.line-scale1 > span:nth-child(3) {
  -webkit-animation: line-scale1 1s 1.2s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale1 1s .6s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.line-scale1 > span:nth-child(4) {
  -webkit-animation: line-scale1 1s 1s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale1 1s .5s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.line-scale1 > span:nth-child(5) {
  -webkit-animation: line-scale1 1s .8s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale1 1s .4s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.line-scale1 > span:nth-child(6) {
  -webkit-animation: line-scale1 1s .6s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale1 1s .3s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.line-scale1 > span:nth-child(7) {
  -webkit-animation: line-scale1 1s .4s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale1 1s .2s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.line-scale1 > span:nth-child(8) {
  -webkit-animation: line-scale1 1s .2s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale1 1s .1s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.enlarge:hover {
  transform: scale(1.11);
  transition: 0.6s;
}
